RewriteEngine on

RewriteBase /templates/

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule css/(.*\.css) external.php?type=css&files=$1 [L]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule images/(.*\.(gif|png|jpg)) external.php?type=$2&files=$1 [L]