body {
   font-family: verdana, arial, tahoma;
   font-size: 80%;
   color: #222;
   background-color: red;
}


a:link {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: red;
   color: #222;
}

a:visited {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: red;
   color: #222;
}

a:active {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: red;
   color: #555;
   text-decoration: none;
}

a:hover {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: red;
   color: #222;
}

.title {
   font-size: 130%; 
   font-family: tahoma, arial, verdana;
}

.separator { 
   font-size: 1%;
   border-bottom: 1px solid #888;
   height: 1px;
}

.timer {
   font-size: 80%;
   font-family: Verdana;
   color: #555555;
   letter-spacing: -1px;
}

table {
    font-family: verdana, arial, tahoma;
    font-size: 90%;
    background-color: darkred;
    padding: 2px;
}
td {
    background-color: red;
    font-family: verdana, arial, tahoma;
    font-size: 100%;
    padding: 3px;
}

input, textarea {
    background-color: red;
}

