
a:link {
   font-family: verdana, arial, tahoma;
   font-size: 11px;
   background: #fff;
   color: #222;
}

a:visited {
   font-family: verdana, arial, tahoma;
   font-size: 11px;
   background: #fff;
   color: #222;
}

a:active {
   font-family: verdana, arial, tahoma;
   font-size: 11px;
   background: #ffc;
   color: #555;
   text-decoration: none;
}

table {
    font-family: verdana, arial, tahoma;
    font-size: 11px;
    background-color: #888888;
}
td {
    background-color: #FFFFFF;
    font-family: verdana, arial, tahoma;
    font-size: 11px;
    padding: 3px;
}