body {
   font-family: verdana, arial, tahoma;
   font-size: 80%;
   color: #222;
   background-color: #ffffff;
}


a:link {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: #fff;
   color: #222;
}

a:visited {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: #fff;
   color: #222;
}

a:active {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: #ffc;
   color: #555;
   text-decoration: none;
}

a:hover {
   font-family: verdana, arial, tahoma;
   font-size: 100%;
   background: #ffc;
   color: #222;
}

.title {
   font-size: 130%; 
   font-family: tahoma, arial, verdana;
}

.separator { 
   font-size: 1%;
   border-bottom: 1px solid #888;
   height: 1px;
}

.timer {
   font-size: 80%;
   font-family: Verdana;
   color: #555555;
   letter-spacing: -1px;
}

table {
    font-family: verdana, arial, tahoma;
    font-size: 90%;
    background-color: #E4E4E4;
    padding: 2px;
}
td {
    background-color: #fff;
    font-family: verdana, arial, tahoma;
    font-size: 100%;
    padding: 3px;
}

#jip {
    position: absolute;
    top: 30px;
    display: none;
    width:98%;
    z-index: 999;
    font-size:100%;
    padding: 4px;
    text-align: center;
}