body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
fieldset, input, p, blockquote, table, th, td, embed, object {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img,abbr {
    border: 0;
}

address, caption, cite, code, dfn, em, h1, h2, h3, h4, h5, h6, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

q:before, q:after {
    content: '';
}

a, ins {
    text-decoration: none;
}

body {
    color: #666;
}

a {
    color: #0055CC;
    font-weight: bold;
}

a:visited{
    border-bottom: none;
}

a:hover{
    color: #0055CC;
    text-decoration: underline;
}

a.img, a.img:hover {
    border-bottom: none !important;
}


p, ul, ol, pre, h1, h2, h3, h4, h5, h6{
    margin-bottom: 1.5em;
}

ul ul, ol ul {
    margin-bottom: 0;
}

strong, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    vertical-align: middle;
}

pre, code {
    font: 0.625em / 1.00em 'Monaco', 'Courier New', Courier, monospace;
    padding: 12px;
}

code {
    padding: 1px;
}

pre code{
    display: block;
    background-image: none;
    overflow: auto;
}

blockquote, li{
    font-size: 1em;
    line-height: 1.25em;
}

blockquote {
    padding: 2px 0 2px 48px;
}

li {
    margin-bottom: 4px;
}

ul li{
    padding-left: 24px;
}
ol li {
    margin-left: 24px;
}

ol ul li{
    margin-left: 0;
}

form input {
    font-size: inherit;
    vertical-align: middle;
}

label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.625em;
}

h1 {
    font: 2.375em/2.375em 'HelveticaNeue-CondensedBold','Arial Narrow',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    color: #333;
    margin: -3px 0 37px -2px;
}

h1 em {
    color: #999;font-style: normal;font-weight: bold;
}

h1 embed {
    margin: -1px 0 1px -2px;
}

h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-size: 0.625em;
}

body {
    font: 0.75em / 1.125em "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #334145 url('../../images/admin/background.gif') repeat scroll top left;
    color: #555555;
}

div.clear {
    clear: both;
}

#header {
    padding: 15px 15px 0px 15px;
    background: #334145 url('../../images/admin/header.gif') repeat scroll top left;
}

#header div.bar {
    height: 60px;
    background: transparent url('../../images/admin/headerbar.png') no-repeat scroll 0px -60px;
    position: relative;
}

#header .bar div.siteInfo {
    margin: 0px 10px;
    background: transparent url('../../images/admin/headerbar.png') repeat-x scroll 0px 0px;
}

#header .bar div.glass {
    padding: 15px;
    background: transparent url('../../images/admin/glass.png') no-repeat scroll 0px 0px;
}

#header .bar .siteInfo a.logo {
    background: transparent url('../../images/admin/symbol.png') no-repeat scroll top left;
    line-height: 30px;
    display: block;
    padding-left: 40px;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

#header .bar .siteInfo .logo a:hover {
    text-decoration: underline;
}

#header div.bar div.loginInfo {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px 10px;
    height: 60px;
    line-height: 60px;
    color: #ffffff;
    background: transparent url('../../images/admin/headerbar.png') no-repeat scroll right -120px;
}

#header .loginInfo table td {
    padding: 0px 5px;
    line-height: 28px;
}

#content div.title {
    padding: 0px 10px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 1.5em;
    line-height: 1.8em;
    font-weight: bold;
    margin-bottom: 10px;

}

#content {
    background: #F9F9F9 url('../../images/admin/contentbg.png') repeat-y scroll -220px 0px;
}

#sidebar {
    float:left;
    padding: 10px;
    width: 190px;
}

#mainbar {
    margin-left: 220px;
    padding: 10px;
}

#footer {

}

#footer div.foot {
    position:  relative;
    background: transparent url('../../images/admin/contentbg.png') no-repeat scroll -10px 50%;
}

#footer div.foot,
#footer div.foot div {
    height: 10px;
}

#footer div.foot .mid {
    margin: 0px 10px 0px 210px;
    background-color: #f9f9f9;
}

#footer div.foot .rig {
    position:  absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    background: transparent url('../../images/admin/contentbg.png') no-repeat scroll 0 0;
}

#footer div.timer {
    text-align: right;
    color: #999;
    padding: 10px;
    font-size: 0.916em;
}

#footer div.timer a,
#footer div.timer a:visited,
#footer div.timer a:active {
    color: #ccc;
    text-decoration: none;
    font-weight: normal;
}

#footer div.timer a:hover {
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
}

div.marginal {
    margin: 0px 15px;
}

/*** sidebar ***/
ul.mzz-adm-menu {
    margin: 0px;
    padding: 0px;
}

ul.mzz-adm-menu li {
    margin: 0px;
    padding: 0px;
    display: block;
}

ul.mzz-adm-menu li div.mzz-menu-item {
    position: relative;
}

ul.mzz-adm-menu li div.mzz-menu-item div.mzz-menu-title {
    height: 27px;
    line-height: 27px;
    margin: 3px 5px -3px 0px;
    padding-bottom: 3px;
    padding-left: 30px;
}

ul.mzz-adm-menu li div.mzz-menu-item span.mzz-icon {
    display: block;
    height: 16px;
    width: 16px;
    margin: 5px 0px 0px 8px;
    position: absolute;
    left:0;
    top:0;
}

ul.mzz-adm-menu li div.mzz-menu-item div.mzz-menu-toggle {
    display:block;
    height:27px;
    padding-right:8px;
    position:absolute;
    right:0;
    top:0;
}

ul.mzz-adm-menu div.mzz-menu-title,
ul.mzz-adm-menu div.mzz-menu-toggle {
    background: transparent url('../../images/admin/table.png') no-repeat scroll 100px 100px;
}

ul.mzz-adm-menu div.mzz-menu-title {
    background-position: 0 -30px;
}

ul.mzz-adm-menu div.mzz-menu-toggle {
    background-position: right -30px;
}

ul.mzz-adm-menu li.active div.mzz-menu-title,
ul.mzz-adm-menu li:hover div.mzz-menu-title {
    background-position: 0 -210px;
}

ul.mzz-adm-menu li.active div.mzz-menu-toggle,
ul.mzz-adm-menu li:hover div.mzz-menu-toggle {
    background-position: right -210px;
}

ul.mzz-adm-menu li.mzz-menu-has-sub div.mzz-menu-title {
    background-position: 0 -60px;
}

ul.mzz-adm-menu li.mzz-menu-has-sub div.mzz-menu-toggle {
    background-position: right -60px;
}

ul.mzz-adm-menu li.mzz-menu-has-sub.active div.mzz-menu-title,
ul.mzz-adm-menu li.mzz-menu-has-sub:hover div.mzz-menu-title {
    background-position: 0 -240px;
}

ul.mzz-adm-menu li.mzz-menu-has-sub.active div.mzz-menu-toggle,
ul.mzz-adm-menu li.mzz-menu-has-sub:hover div.mzz-menu-toggle {
    background-position: right -240px;
}

ul.mzz-adm-menu div.mzz-menu-sub {
    display: none;
}

ul.mzz-adm-menu li.active div.mzz-menu-sub,
ul.mzz-adm-menu li:hover div.mzz-menu-sub {
    border-color: #fce2bd;
}

ul.mzz-adm-menu li div.mzz-menu-sub {
    display: block;
    border: 1px solid #dedede;
    border-top: 0px;
    padding: 2px;
    background-color: #f9f9f9;
}

ul.mzz-adm-menu li div.mzz-menu-sub li {
    padding: 2px 2px 2px 12px;
    color:  #0055CC;
}

ul.mzz-adm-menu li div.mzz-menu-sub li.active{
    background-color: #ffffcc;
}

ul.mzz-adm-menu li div.mzz-menu-sub li:hover {
    background-color: #fce2bd;
    text-decoration: underline;
}

div.breadcrumbs {
    margin: 10px 5px;
    font-size: 0.9em;
}

span.breadcrumbsTitle {
    font-weight: bold;
}

span.breadcrumbsItems {
    border: 1px solid #d4d4d4;
    padding: 4px;
    background-image: url('../../images/breadcrumb_background.png');
}