a {
  color: #0055CC;
}

* {
  /*margin: 0;
  padding: 0;
  border: 0;*/
}

html {
  height: 100%;
  background: #fff;
}

/*reset*/
fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
  margin:0;
  padding:0;
  min-height:100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-weight: normal;
  font-size: 79%;
  /*font-family: tahoma, verdana, arial, sans-serif;*/
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  /*letter-spacing: -0.05em;*/
  color: #000;
  line-height:1.5;
}

img {
  border: 0;
}

div#page {
  width: 100%;
  margin: auto;
  height: auto !important;
  min-height:100%;
  height: 100%;
}


div#page div.footer_guarantor {
  height: 32px;
  clear: both;
}

div.footer {
  margin: auto;
  margin-top: -32px;
  /*width: 97%;*/
  margin-right: 2%;
  margin-left: 2%;
  height: 20px;
  clear: both;
  border-top: 1px solid #D7D7D7;
  font-size: 80%;
  color: #3E3E3E;
  padding: 5px;
  text-align: right;
}

div#page div#header {
  height: 86px;
}

div.patch_minheight {
  width: 1px;
  height: 150px;
  float: right;
}

div#sidebar {
  float: left;
  width: 210px;
  padding: 15px 10px;
}


div#mainbar {
  margin-left: 230px;
  padding: 15px 10px;
}

div#mainbarWithoutSidebar {
  padding: 20px;
}

.tableListHead td {
  font-weight: bold;
  text-align: center;
  background-color: #F7F7F7;
}


#header .loginInfo {
  font-size: 100%;
  width: 100%;
  height: 36px;
  background: url('../images/admin/headerBackground.png');
  text-align: right;
  padding-top: 18px;
  color: #B8D8EB;
}

#header .loginInfo div.loginForm {
  padding-right: 20px;
  font-size: 95%;
  float: right;
  margin-top: -15px;
}

#header img.loginExit {
  float: right;
  padding: 0 5px;
  border: 0;
}

#header .siteName {
  margin-top: -54px;
  width: 585px;
  height: 54px;
  background: url('../images/admin/headerGlass.png') no-repeat 0 0;
}

#header .siteName div {
  padding-left: 40px;
  padding-top: 17px;
  color:#fff;
  font-size: 110%;
  font-weight: bold;
}

#header .siteName a {
  color:#fff;
  text-decoration: none;
}

#header .favorite {
  width: 100%;
  height: 30px;
  background-color: #ECEBE3;
  border-bottom: 1px solid #DFDDCE;
  color: #fff;
  font-size: 95%;
}
#header .favorite div {
  padding-left: 10px;
  padding-top: 8px;
}

#header .favorite .langs {
  margin-right: 15px;
  float: right;
  padding: 0px;
  color: #777;
}

#header img.favoriteIcon {
  margin-top: -1px;
  float: left;
}

#header .favorite span {
  width: 2px;
  background: url('../images/admin/separator.png') no-repeat top center;
  margin: 0 4px;
}

#header .favorite .doubleSeparator {
  background-image: url('../images/admin/separator.png');
}

#sidebar p.sideMenuTitle {
  font-size: 120%;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 4px;
}
#sidebar table {
  font-size: 100%;
  margin-top: 5px;
  width: 100%;
  border: 0;
}

#sidebar td.menuSection {
  color: #606060;
}
#sidebar td.menuSectionImg {
  height: 24px;
  width: 24px;
}

#sidebar td.menuLink {
  height: 20px;
  background: url('../images/admin/arrow.gif') no-repeat left center;
  padding-left: 8px;
}

#mainbar p.pageTitle {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 4px;
  font-size: 120%;
  width: 99%;
}

#mainbar div.pageTitle {
  border-bottom: 1px solid #E6E6E6;
  font-size: 120%;
  padding-bottom: 4px;
  /*width: 99%;*/
}
#mainbar div.pageContent {
  width: 99%;
}

table.tableList {
  border: 0;
  width: 99%;
  font-size: 100%;
  margin-top: 5px;
}
table.tableList td {
  border-bottom: 1px solid #F4F4F4;
}

.tableListFoot td {
 /* border-top: 1px solid #F4F4F4;*/
  border-bottom: 0 !important;
}

div.breadcrumbs {
    margin: 10px 5px;
}

span.breadcrumbsTitle {
    font-size: 90%;
    color: #555;
}

span.breadcrumbsItems {
    font-size: 90%;
    border: 1px solid #EAEAEA;
    padding: 4px;
    background-image: url('../images/breadcrumb_background.png');
}

div.moduleActions {
    font-size: 95%;
    margin: 7px 0;
    padding: 4px 10px;
    text-align: right;
    float: left;
    background-image: url('../images/actions_background.png');
}

div.moduleActions img {
    float: left;
    padding-right: 5px;
}


table.systemTable td {
    border-bottom: 1px solid #F0F0F0;
}

table.systemTable th {
    border-bottom: 1px dashed #DCDCDC;
}

div.uploadError {
 margin: 5px;
 padding: 2px;
 font-weight: bold;
 background-color: #FDDFDF;
 border: 1px solid #FBC4C4;
 display: none;
 color: #840909;
}

div.uploadSuccess {
 margin: 5px;
 padding: 2px;
 font-weight: bold;
 background-color: #E9F8FC;
 border: 1px solid #D8F3FA;
 display: none;
}

a.jsLink {
 text-decoration: none;
 border-bottom: 1px dotted #0055CC;
 font-size: 90%;
}

a.jsLink:hover {
 text-decoration: none;
 border-bottom: 1px dotted #E42105;
 color: #E42105;
}

div.noticeMessage {
    background-color: #EDF8FE;
    border: 2px solid #B6DDF1;
    padding: 5px;
    margin: 5px;
}

div.helpMessage {
    background-color: #F3FDEC;
    border: 2px solid #CEF0B5;
    padding: 5px;
    margin: 5px;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.configurationItem {
  width: 50%;
  padding: 5px;
  border-bottom: 1px solid #EBEBEB;
  font-size: 90%;
}

.configurationItem img {
  float: left;
  margin-right: 6px;
}

.helpText {
  font-size: 90%;
  color: #6C6C6C;
}

hr.grayPaddingBorder {
  border: 0;
  height: 1px;
  border-top: 1px solid #F0F0F0;
  margin: 6px 0;
}