span.mzz-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0px;
    margin: 0px;
    background: transparent url('../../images/admin/icons.png') no-repeat 100px 100px;
}

span.mzz-icon a,
span.mzz-icon a:hover,
span.mzz-icon a:active,
span.mzz-icon a:visited {
    display: block;
    height: 16px;
    width: 16px;
    text-decoration: none;
    background: transparent;
    line-height: 16px;
}

span.mzz-icon-doc-empty, span.mzz-icon-doc-empty.disabled {
    background-position: -0px -16px;
}

li:hover span.mzz-icon-doc-empty, span.mzz-icon-doc-empty:hover, span.mzz-icon-doc-empty.active {
    background-position: -0px 0px;
}

span.mzz-icon-doc, span.mzz-icon-doc.disabled {
    background-position: -16px -16px;
}

li:hover span.mzz-icon-doc, span.mzz-icon-doc:hover, span.mzz-icon-doc.active {
    background-position: -16px 0px;
}

span.mzz-icon-doc-add, span.mzz-icon-doc-add.disabled {
    background-position: -32px -16px;
}

li:hover span.mzz-icon-doc-add, span.mzz-icon-doc-add:hover, span.mzz-icon-doc-add.active {
    background-position: -32px 0px;
}

span.mzz-icon-doc-del, span.mzz-icon-doc-del.disabled {
    background-position: -48px -16px;
}

li:hover span.mzz-icon-doc-del, span.mzz-icon-doc-del:hover, span.mzz-icon-doc-del.active {
    background-position: -48px 0px;
}

span.mzz-icon-doc-edit, span.mzz-icon-doc-edit.disabled {
    background-position: -64px -16px;
}

li:hover span.mzz-icon-doc-edit, span.mzz-icon-doc-edit:hover, span.mzz-icon-doc-edit.active {
    background-position: -64px 0px;
}

span.mzz-icon-doc-move, span.mzz-icon-doc-move.disabled {
    background-position: -80px -16px;
}

li:hover span.mzz-icon-doc-move, span.mzz-icon-doc-move:hover, span.mzz-icon-doc-move.active {
    background-position: -80px 0px;
}

span.mzz-icon-folder, span.mzz-icon-folder.disabled {
    background-position: -96px -16px;
}

li:hover span.mzz-icon-folder, span.mzz-icon-folder:hover, span.mzz-icon-folder.active {
    background-position: -96px 0px;
}

span.mzz-icon-folder-add, span.mzz-icon-folder-add.disabled {
    background-position: -112px -16px;
}

li:hover span.mzz-icon-folder-add, span.mzz-icon-folder-add:hover, span.mzz-icon-folder-add.active {
    background-position: -112px 0px;
}

span.mzz-icon-folder-del, span.mzz-icon-folder-del.disabled {
    background-position: -128px -16px;
}

li:hover span.mzz-icon-folder-del, span.mzz-icon-folder-del:hover, span.mzz-icon-folder-del.active {
    background-position: -128px 0px;
}

span.mzz-icon-folder-edit, span.mzz-icon-folder-edit.disabled {
    background-position: -144px -16px;
}

li:hover span.mzz-icon-folder-edit, span.mzz-icon-folder-edit:hover, span.mzz-icon-folder-edit.active {
    background-position: -144px 0px;
}

span.mzz-icon-folder-move, span.mzz-icon-folder-move.disabled {
    background-position: -160px -16px;
}

li:hover span.mzz-icon-folder-move, span.mzz-icon-folder-move:hover, span.mzz-icon-folder-move.active {
    background-position: -160px 0px;
}

span.mzz-icon-script, span.mzz-icon-script.disabled {
    background-position: -176px -16px;
}

li:hover span.mzz-icon-script, span.mzz-icon-script:hover, span.mzz-icon-script.active {
    background-position: -176px 0px;
}

span.mzz-icon-script-add, span.mzz-icon-script-add.disabled {
    background-position: -192px -16px;
}

li:hover span.mzz-icon-script-add, span.mzz-icon-script-add:hover, span.mzz-icon-script-add.active {
    background-position: -192px 0px;
}

span.mzz-icon-script-del, span.mzz-icon-script-del.disabled {
    background-position: -208px -16px;
}

li:hover span.mzz-icon-script-del, span.mzz-icon-script-del:hover, span.mzz-icon-script-del.active {
    background-position: -208px 0px;
}

span.mzz-icon-script-edit, span.mzz-icon-script-edit.disabled {
    background-position: -224px -16px;
}

li:hover span.mzz-icon-script-edit, span.mzz-icon-script-edit:hover, span.mzz-icon-script-edit.active {
    background-position: -224px 0px;
}

span.mzz-icon-script-move, span.mzz-icon-script-move.disabled {
    background-position: -240px -16px;
}

li:hover span.mzz-icon-script-move, span.mzz-icon-script-move:hover, span.mzz-icon-script-move.active {
    background-position: -240px 0px;
}

span.mzz-icon-block, span.mzz-icon-block.disabled {
    background-position: -256px -16px;
}

li:hover span.mzz-icon-block, span.mzz-icon-block:hover, span.mzz-icon-block.active {
    background-position: -256px 0px;
}

span.mzz-icon-block-add, span.mzz-icon-block-add.disabled {
    background-position: -272px -16px;
}

li:hover span.mzz-icon-block-add, span.mzz-icon-block-add:hover, span.mzz-icon-block-add.active {
    background-position: -272px 0px;
}

span.mzz-icon-block-del, span.mzz-icon-block-del.disabled {
    background-position: -288px -16px;
}

li:hover span.mzz-icon-block-del, span.mzz-icon-block-del:hover, span.mzz-icon-block-del.active {
    background-position: -288px 0px;
}

span.mzz-icon-block-edit, span.mzz-icon-block-edit.disabled {
    background-position: -304px -16px;
}

li:hover span.mzz-icon-block-edit, span.mzz-icon-block-edit:hover, span.mzz-icon-block-edit.active {
    background-position: -304px 0px;
}

span.mzz-icon-block-move, span.mzz-icon-block-move.disabled {
    background-position: -320px -16px;
}

li:hover span.mzz-icon-block-move, span.mzz-icon-block-move:hover, span.mzz-icon-block-move.active {
    background-position: -320px 0px;
}


span.mzz-icon-user, span.mzz-icon-user.disabled {
    background-position: -336px -16px;
}

li:hover span.mzz-icon-user, span.mzz-icon-user:hover, span.mzz-icon-user.active {
    background-position: -336px 0px;
}

span.mzz-icon-user-add, span.mzz-icon-user-add.disabled {
    background-position: -352px -16px;
}

li:hover span.mzz-icon-user-add, span.mzz-icon-user-add:hover, span.mzz-icon-user-add.active {
    background-position: -352px 0px;
}

span.mzz-icon-user-del, span.mzz-icon-user-del.disabled {
    background-position: -368px -16px;
}

li:hover span.mzz-icon-user-del, span.mzz-icon-user-del:hover, span.mzz-icon-user-del.active {
    background-position: -368px 0px;
}

span.mzz-icon-user-edit, span.mzz-icon-user-edit.disabled {
    background-position: -384px -16px;
}

li:hover span.mzz-icon-user-edit, span.mzz-icon-user-edit:hover, span.mzz-icon-user-edit.active {
    background-position: -384px 0px;
}

span.mzz-icon-group, span.mzz-icon-group.disabled {
    background-position: -400px -16px;
}

li:hover span.mzz-icon-group, span.mzz-icon-group:hover, span.mzz-icon-group.active {
    background-position: -400px 0px;
}

span.mzz-icon-group-add, span.mzz-icon-group-add.disabled {
    background-position: -416px -16px;
}

li:hover span.mzz-icon-group-add, span.mzz-icon-group-add:hover, span.mzz-icon-group-add.active {
    background-position: -416px 0px;
}

span.mzz-icon-group-del, span.mzz-icon-group-del.disabled {
    background-position: -432px -16px;
}

li:hover span.mzz-icon-group-del, span.mzz-icon-group-del:hover, span.mzz-icon-group-del.active {
    background-position: -432px 0px;
}

span.mzz-icon-group-edit, span.mzz-icon-group-edit.disabled {
    background-position: -448px -16px;
}

li:hover span.mzz-icon-group-edit, span.mzz-icon-group-edit:hover, span.mzz-icon-group-edit.active {
    background-position: -448px 0px;
}

span.mzz-icon-key, span.mzz-icon-key.disabled {
    background-position: -464px -16px;
}

li:hover span.mzz-icon-key, span.mzz-icon-key:hover, span.mzz-icon-key.active {
    background-position: -464px 0px;
}

span.mzz-icon-key-add, span.mzz-icon-key-add.disabled {
    background-position: -480px -16px;
}

li:hover span.mzz-icon-key-add, span.mzz-icon-key-add:hover, span.mzz-icon-key-add.active {
    background-position: -480px 0px;
}

span.mzz-icon-key-del, span.mzz-icon-key-del.disabled {
    background-position: -496px -16px;
}

li:hover span.mzz-icon-key-del, span.mzz-icon-key-del:hover, span.mzz-icon-key-del.active {
    background-position: -496px 0px;
}

span.mzz-icon-key-default, span.mzz-icon-key-default.disabled {
    background-position: -512px -16px;
}

li:hover span.mzz-icon-key-default, span.mzz-icon-key-default:hover, span.mzz-icon-key-default.active {
    background-position: -512px 0px;
}

span.mzz-icon-wrench, span.mzz-icon-wrench.disabled {
    background-position: -528px -16px;
}

li:hover span.mzz-icon-wrench, span.mzz-icon-wrench:hover, span.mzz-icon-wrench.active {
    background-position: -528px 0px;
}

span.mzz-icon-wrench-red, span.mzz-icon-wrench-red.disabled {
    background-position: -544px -16px;
}

li:hover span.mzz-icon-wrench-red, span.mzz-icon-wrench-red:hover, span.mzz-icon-wrench-red.active {
    background-position: -544px 0px;
}

span.mzz-icon-wrench-cross, span.mzz-icon-wrench-cross.disabled {
    background-position: -560px -16px;
}

li:hover span.mzz-icon-wrench-cross, span.mzz-icon-wrench-cross:hover, span.mzz-icon-wrench-cross.active {
    background-position: -560px 0px;
}

span.mzz-icon-cog, span.mzz-icon-cog.disabled {
    background-position: -576px -16px;
}

li:hover span.mzz-icon-cog, span.mzz-icon-cog:hover, span.mzz-icon-cog.active {
    background-position: -576px 0px;
}

span.mzz-icon-cog-add, span.mzz-icon-cog-add.disabled {
    background-position: -592px -16px;
}

li:hover span.mzz-icon-cog-add, span.mzz-icon-cog-add:hover, span.mzz-icon-cog-add.active {
    background-position: -592px 0px;
}

span.mzz-icon-cog-del, span.mzz-icon-cog-del.disabled {
    background-position: -608px -16px;
}

li:hover span.mzz-icon-cog-del, span.mzz-icon-cog-del:hover, span.mzz-icon-cog-del.active {
    background-position: -608px 0px;
}

span.mzz-icon-cog-edit, span.mzz-icon-cog-edit.disabled {
    background-position: -624px -16px;
}

li:hover span.mzz-icon-cog-edit, span.mzz-icon-cog-edit:hover, span.mzz-icon-cog-edit.active {
    background-position: -624px 0px;
}