table.admin thead th,
table.admin td.head {
    background: transparent url('../../images/admin/table.png') repeat-x scroll 0px 0px;
}

table.admin thead th,
table.admin tr.head th {
    font-weight: bold;
}

table.admin th,
table.admin td {
    line-height: 26px;
    height: 26px;
}



table.admin tr .first {
    background: transparent url('../../images/admin/table.png') no-repeat scroll left -210px;
}

table.admin tr .last {
    background: transparent url('../../images/admin/table.png') no-repeat scroll right -240px;
}

table.admin thead tr.first th.first,
table.admin tr.head.first th.first {
    background: transparent url('../../images/admin/table.png') no-repeat scroll left -90px;
}

table.admin thead tr.first th.last,
table.admin tr.head.first th.last {
    background: transparent url('../../images/admin/table.png') no-repeat scroll right -120px;
}

table.admin tr.row td {
    border-top: 1px solid #e3e3e3;
}

table.admin tr.row.last td {
    background: transparent url('../../images/admin/table.png') repeat-x center -270px;
}

table.admin tr.row.last td.first {
    background: transparent url('../../images/admin/table.png') no-repeat left -150px;
}

table.admin tr.row.last td.last {
    background: transparent url('../../images/admin/table.png') no-repeat right -180px;
}

div.toolbarBlock {
    float: left;
    width: 30%;
    margin: 10px;
}