table.admin {
    width: 100%;
}

table.admin thead th,
table.admin tr.head th {
    font-weight: bold;
}

table.admin th,
table.admin td {
    line-height: 26px;
    height: 26px;
    padding: 0 5px;
}

table.admin tr.center td,
table.admin tr td.center,
table.admin tr.center th,
table.admin tr th.center {
    text-align: center;
    padding-left: 5px;
}

table.admin tr td,
table.admin tr td.left,
table.admin tr th.left {
    text-align: left;
}

table.admin tr td.right,
table.admin tr th.right {
    text-align: right;
}

table.admin tr td,
table.admin tr td.left {
    padding-left: 15px;
}

table.admin tr td.right {
    padding-right: 15px;
}

table.admin tr td {
    border-top: 1px solid #e3e3e3;
}

table.admin tr,
table.admin tr td,
table.admin tr th {
    background: transparent url('../../images/admin/table.png') repeat-x scroll 100px 100px;
}

table.admin tr th,
table.admin tr td.head {
    background-position: 0px 0px;
}

table.admin tr td.first {
    background-position: left -120px;
}

table.admin tr td.last {
    background-position:  right -120px;
}

table.admin thead tr.first th.first,
table.admin tr.head.first th.first {
    background-position: left -60px;
}

table.admin thead tr.first th.last,
table.admin tr.head.first th.last {
    background-position: right -60px;
}

table.admin tr.last td {
    background-position: center -150px;
}

table.admin tr.last td.first {
    background-position: left -90px;
}

table.admin tr.last td.last {
    background-position: right -90px;
}

table.dashboard {
    width: 45% !important;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}