span.toolbarSectionName {
  font-size: 115%;
  color: #BA1B1B;
}

table.toolbarActions {
  width: 99%;
  border: 0;
  margin-top: 15px;
}

table.toolbarActions td {
  padding: 2px 4px;
}

table.toolbarActions td img {
  margin-right: 3px;
  float: right;
}

table.toolbarObjects {
  width: 100%;
  border: 0;
  margin-top: 15px;
  font-size: 95%;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}

tr.toolbarTitle {
  background-color: #FAFAFA;
  font-size: 100%;
}

td.toolbarElementName {
  border-top: 1px solid #EBEBEB;
  font-size: 95%;
  padding: 3px !important;
}

td.toolbarActions img {
  /*width: 60px;*/
  float: right !important;
}

td.toolbarActions {
  width: 80px;
}

td.toolbarBorder {
  padding-left: 5px;
}

td.toolbarEndList {
  border-top: 2px solid #EBEBEB;
  height: 2px;
}

div.toolbarLayerTopLeft {
  float: left;
  width: 30%;
}

div.toolbarLayerTopRight {
  margin-left: 3%;
  width: 30%;
  float: left;
}

div.toolbarLayerBottomLeft {
  width: 32%;
  font-size: 100%;
  margin-left: 65%;
}

td.toolbarEmpty {
  font-size: 80%;
  color: #999;
  text-align: center;
}

tr.toolbarObjectsTitle {
  background-color: #F8F8F8;
  font-weight: bold;
  color: #555;
}

div.generatorSuccessResult {
   color: #007900;
}

span.mainClass {
  background-color: #EFF8EF;
  padding: 2px 4px;
}

span.newlySubjectNotice {
  font-size: 80%;
  color: #666;
  padding: 2px 4px;
  margin: 0 2px;
  background-color: #FFFFC8;
}

span.className {
  margin-left: 8px;
  padding: 2px 4px;
}