AddDefaultCharset windows-1251
DirectoryIndex doc.php
RewriteEngine on
Options +FollowSymlinks -Indexes -Includes -MultiViews
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule index.html doc.php [L]
RewriteRule ([a-zA-Z0-9._-]+)\.html doc.php?cat=$1 [L]