html, body {
  margin:6px;
  padding:6px;
  background-color: #EDEDED;
  color: #000000;
  font-family: verdana, tahoma, arial;
  font-size: 90%;
}

#content {
  background-color: white;
  border: 1px solid #D6D6D6;
  padding: 20px;
  line-height: 130%;
  font-size: 100%;
}

#title {
  font-size: 150%;
  font-family: verdana, tahoma, arial;
}

#version {
  font-size: 70%;
  font-family: verdana, tahoma, arial;
  width: 90px;
  padding-bottom: 25px;
}

a {
  color: #0086CE;
}

.navigation {
  font-size: 90%;
  border-bottom: 1px solid #D6D6D6;
}

.navigation_f {
  font-size: 90%;
  border-top: 1px solid #D6D6D6;
  margin-top: 120px;
}

.title {
 font-size: 130%;
 font-weight: bold;
}
.subtitle {
 font-size: 100%;
 font-weight: bold;
 margin-top: 30px;
 margin-bottom: -12px;
}

code, pre {
  font-family: Courier New;
}

div.code {
  background-color: #F1F1F1;
  padding: 14px 14px;
  overflow:auto;
  margin: 10px 0px;
}

div.note {
  margin: 10px;
}

div.options_name {
  color: #2572B8;
  width: 80%;
  background-color: #F6F6F6;
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid #ECECEC;
  font-weight: bold;
}

div.options_desc {
  color: #000000;
  width: 75%;
  text-align: left;
  margin: 10px;
}

span.options_value {
  color: #B5B5B5;
  font-weight: normal
}

