ul.filesTree
{
	margin: 0;
	padding: 14px;
}

ul.filesTree li
{
	list-style: none;
	margin: 0;
	padding: 0 0 0 34px;
	line-height: 18px;
}

ul.filesTree ul
{
	margin: 0;
	padding: 0;
}

ul.filesTree .root
{
	margin-left: -16px;
	background: url(images/filesTree/root.gif) no-repeat 16px 0 #ffffff;
}

ul.filesTree .line
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(images/filesTree/line_bg.gif) 0 0 no-repeat transparent;
}

ul.filesTree .line-last
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(images/filesTree/spacer.gif) 0 0 no-repeat transparent;
}

ul.filesTree .line-over
{
	margin: 0 0 0 -16px;
	padding: 0;
	line-height: 3px;
	height: 3px;
	font-size: 3px;
	background: url(images/filesTree/line_bg_over.gif) 0 0 no-repeat transparent;
}

ul.filesTree .line-over-last
{
	margin: 0 0 0 -16px;
	padding: 0;
	line-height: 3px;
	height:3px;
	font-size:3px;
	background: url(images/filesTree/line_bg_over_last.gif) 0 0 no-repeat transparent;
}

ul.filesTree .folder-open
{
	margin-left: -16px;
	background: url(images/filesTree/collapsable.gif) 0 0 no-repeat #fff;
}

ul.filesTree .folder-open-last
{
	margin-left: -16px;
	background: url(images/filesTree/collapsable-last.gif) 0 0 no-repeat #fff;
}

ul.filesTree .folder-close
{
	margin-left: -16px;
	background: url(images/filesTree/expandable.gif) 0 0 no-repeat #fff;
}

ul.filesTree .folder-close-last
{
	margin-left: -16px;
	background: url(images/filesTree/expandable-last.gif) 0 0 no-repeat #fff;
}

ul.filesTree .doc
{
	margin-left:-16px;
	background: url(images/filesTree/leaf.gif) 0 0 no-repeat #fff;
}

ul.filesTree .doc-last
{
	margin-left:-16px;
	background: url(images/filesTree/leaf-last.gif) 0 0 no-repeat #fff;
}

ul.filesTree span.text
{
    padding-left: 2px;
}