div.menuHelp {
  color: #555;
  font-size: 90%;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
}

div.menuList {
  height: 35px;
  font-size: 95%;
  color: #000;
  margin: 4px 0 5px;
  border-bottom: 3px solid #D5D5D5;
  padding-left: 5px;
  padding-bottom: 2px;
}

li.treeItem ul {
  padding-bottom: 3px;
}

div.menuList div {
  float: left;
  margin-right: 15px;
}

div.menuList a.active {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

ul.menuTree {
    font-size: 90%;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

ul.menuMargin {
    padding: 0;
    margin-left: 5px !important;
}

.menuItemTitle {
    height: 15px;
    background-repeat: no-repeat;
    padding: 6px 10px;
}

.treeItem {
    list-style-type: none;
    background-repeat: repeat-x;
    background-position: top right;
    margin-top: 3px;
    margin-bottom: -3px;
}

.menuItemTitleGray {
    background-image: url('../../images/menu/left_side.gif');
}

.treeItemGray {
    background-image: url('../../images/menu/bg.gif');
}

.menuItemTitleYellow {
    background-image: url('../../images/menu/left_side_yellow.gif');
}

.treeItemYellow {
    background-image: url('../../images/menu/bg_yellow.gif');
}

.menuItemActions {
    float: right;
    height: 15px;
    margin: 2px 10px;
}

span.menuUrl, span.menuName {
    color: #7A7A7A;
}

span.menuName {
    font-size: 90%;
}

/* Fix IE. Hide from IE Mac \*/
* html li.treeItem { background-color: #FFFFFF; height: 16px; }
/* End */
