img.jip {
    cursor: pointer;
}

div.jipClose {
    float: right;
    margin-top: 6px;
    margin-right: 4px;
    height: 13px;
}

div.jipSuccess {
    background-color: #EEF8E7;
    padding: 2px;
    text-align: center;
    width: 160px;
    border: 1px solid #C9E9B1;
    color: green;
    font-weight: bold;
}

.jipLoadJs {
    font-size: 80%;
    color: #555;
}

div#jipLoad {
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    line-height: 150%;
}

div#jipLoad a {
    font-size: 90%;
}

div#jipLoad img {
    margin-bottom: 10px;
}

div.confirm {
    width:90%;
    font-size: 110%;
    text-align: center;
    line-height: 150%;
    margin: 5px 0;
    margin-bottom: 20px;
}

div.confirmImg {
    width: 20%;
    float: left;
}

div.confirmMsg {
    width: 80%;
    float: right;
    padding-top: 5px;
}

div.confirm span {
    margin-left: 40px;
}

div.confirm img {
    float: right;
}

.jipAjaxLoading {
    padding: 5px;
    border: 1px solid #F1DC92;
    background-color: #FFF9D5;
    color: #004000;
    width: 130px;
    font-size: 90%;
}

.jipAjaxLoadingError {
    padding: 5px;
    border: 1px solid #F29191;
    background-color: #FFD5D5;
    color: #800000;
    width: 130px;
    font-size: 90%;
}

/**
 * Style for content-locker
 */
.mzz-content-locker {
    background: #000 url('../images/jip/locker.gif');
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 901;
    font-size:100%;
    text-align: center;
    width: 100%;
}

/**
 * Style for mzz-window holder (not only jipWindow) @see window.js
 */
.mzz-window-holder {
    display: none;
}

img.mzz-window-button {
    cursor: pointer;
}

/**
 * Jip-window style reset
 */
.mzz-ie-visibility { /* pseudo-class for ie 'hidden' selects */
    visibility: hidden;
}

.mzz-jip-window {
    font-family: Helvetica,  Lucida, arial, tahoma, verdana, sans-serif !important;
    font-weight: normal !important;
    font-size: 16px !important;
    color: #000 !important;
    position: absolute;
    z-index: 902;
    width: 80%;
    left: 10%;
    top: 100px;

    /* for the true css3 family %) тень окна */
    -webkit-border-radius: 6px 6px;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-border-radius: 6px 6px;
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.mzz-jip-window form,
.mzz-jip-window span,
.mzz-jip-window table,
.mzz-jip-window div {
    font-size: 12px;
    font-weight: normal;
    color: #000;
    text-transform: none;
    text-decoration: none;
}

.mzz-jip-window table td,
.mzz-jip-window table th {
    padding: 2px;
}

.mzz-jip-window p,
.mzz-jip-window form label,
.mzz-jip-window form input,
.mzz-jip-window form select,
.mzz-jip-window form textarea {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-transform: none;
    text-decoration: none;
    margin: 0 0;
}

.mzz-jip-window span,
.mzz-jip-window form,
.mzz-jip-window label {
    display: inline;
    border: none;
}

.mzz-jip-window form {
    width: 100%;
}

.mzz-jip-window .mzz-window-icon {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 36px;
    width: 36px;
}

.mzz-jip-window .mzz-window-buttons {
    position: absolute;
    top: 8px;
    right: 12px;
    height: 18px;
}

.mzz-jip-window .mzz-window-reload {
    position: absolute;
    background:transparent url('../images/jip/refresh.png') no-repeat scroll 0 0;
    bottom: 5px;
    height: 16px;
    left: 5px;
    width: 16px;
}

.mzz-jip-window .mzz-window-reload a {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-decoration: none;
}

/**
 * Base style for window (gray)
 */
.mzz-jip-window .mzz-window-title {
    height: 23px;
    line-height: 23px;
    padding: 4px 10px 5px 43px;
    white-space: nowrap;
    line-height: 23px;
    color: #fff;
    font-weight: bold;

    /* default style */
    background: #a3a3a3 url(../images/jip/title-stripe.png) repeat-x scroll top;

    border: solid #c7c8c8;
    border-width: 1px 1px 0px 1px;

    /* for the true css3 family %) верхнее скругление */
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.mzz-jip-window .mzz-window-drag {
    position: absolute;
    top: 4px;
    left: 30px;
    background: transparent url(../images/jip/handle.png) repeat scroll left top;
    height: 24px;
    width: 8px;
    cursor: move;
}

.mzz-jip-window .mzz-window-content {
    border: solid #fff;
    border-width: 0px 1px;
    padding: 5px;
    overflow: auto;
    background-color: #F9F9F9;
    font-size: 0.75em;
}

.mzz-jip-window .mzz-window-footer {
    border: solid #fff;
    border-width: 1px 1px 1px 1px;
    padding: 2px 5px;
    min-height: 15px;
    background-color: #F9F9F9;
    /* for the true css3 family %) нижние скругление */
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.mzz-jip-window .mzz-window-status {
    font-size: 0.7em;
    margin-left: 16px;
}


/**
 * Style for ahtung window (red)
 */
.mzz-jip-window.error .mzz-window-title {
    background-color: #c72d00;
}

/**
 * Style for alert window (orange)
 */
.mzz-jip-window.alert .mzz-window-title {
    background-color: #eca700;
}

/**
 * New mzz-jip-menu Style
 */
div.mzz-jip-menu {
    font-family: tahoma, verdana, arial !important;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #000 !important;
    border: 2px solid #B6B6B6 !important;
    width: 190px !important;
    position: absolute !important;

    text-align: left !important;
    margin: 0;
    padding: 0;
    font-variant: normal !important;
    text-transform: none !important;
    text-indent: 0 !important;
    letter-spacing: normal !important;
    white-space: normal !important;
    word-spacing: normal !important;
    font-style: normal !important;
    background: #F9F9F9 url(../images/jip/jip_bg.png) repeat-y scroll top left !important;
    z-index: 3000;
}

.mzz-jip-menu ul {
    border: 1px solid #ffffff !important;
    margin: 0px;
    padding: 0px;
    list-style-image:none !important;
    list-style-position:outside !important;
    list-style-type:none !important;
}

.mzz-jip-menu li {
    margin:0 !important;
    padding:0 !important;
    overflow: hidden;
    cursor: pointer;
}

.mzz-jip-menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: normal !important;
}

.mzz-jip-menu a span.mzz-jip-icon {
    float: left;
    margin: 2px 4px;
    display: block;
}

.mzz-jip-menu-lang a span.mzz-jip-icon {
    margin: 4px 4px 0px 4px;
}

.mzz-jip-menu li a span.mzz-jip-title {
    display: block;
    float: left;
    line-height: 20px;
    width: 155px;
    padding-left: 6px;
    border: 1px solid transparent;
    border-left: 1px solid #d4d4d4;
}

.mzz-jip-menu li:hover a span.mzz-jip-title,
.mzz-jip-menu li.active a span.mzz-jip-title {
    color: #000000;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
}

.mzz-jip-menu li:hover span.mzz-icon
{
    background-image: url(../images/icons.active.png);
}

.mzz-jip-menu li:hover span.mzz-bullet
{
    background-image: url(../images/bullets.active.png);
}

.mzz-jip-menu li:hover span.mzz-flag
{
    background-image: url(../images/flags.active.png);
}

form.mzz-jip-form ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 5px 0;
    padding: 0;
    display: block;
}

form.mzz-jip-form li  {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom: 1px;
    overflow:auto;
}

form.mzz-jip-form label {
    padding: 0 10px 0 0;
    width: 15%;
    clear: left;
    float: left;
    display: block;
    text-align: right;
    color: #575757;
    font-weight: bold;
    line-height: 2.5em;
}

form.mzz-jip-form span.input {
    float: left;
    display: block;
    width: 55%;
    line-height: 2.5em;
}

form.mzz-jip-form span.error {
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 0.75em;
    width: 20%;
}

form.mzz-jip-form span.buttons {
    margin-left: 15%;
    padding-left: 10px;
}

form.mzz-jip-form li.required {
    border: 1px solid #f9b973;
    background-color: #fcfce0;
}

form.mzz-jip-form li.error {
    border: 1px solid #c80000;
    background-color: #f6cece;
}

.mzz-jip-menu li a.withlang span.mzz-jip-title {
    background-image: url("../images/jip/arrow.gif");
    background-repeat: no-repeat;
    background-position: 96% center;
}

.mzz-jip-window table.systemTable td {
    border-bottom: 1px #D4D4D4 dashed;
    line-height: 1.2em;
}

.mzz-jip-window table.systemTable td span.mzz-icon {
    margin: 2px 2px -2px 0;

}

.mzz-jip-window table.systemTable tr:hover {
    background-color: #ffffff;
}

.mzz-jip-window form.mzz-form div.input {
    margin: 2px 0px;
    clear: left;
    overflow: hidden;
    border: 1px solid transparent;
    line-height: 19px;
}

.mzz-jip-window form.mzz-form div.input label {
    padding: 2px 15px 2px 2px;
    width: 200px;
    display: block;
    float: left;
    text-align: right;
    line-height: 15px;
}

.mzz-jip-window form.mzz-form div.input span.field {
    width: 400px;
    display: block;
    float: left;
}

.mzz-jip-window form.mzz-form div.input span.empty {

}

.mzz-jip-window form.mzz-form div.input span.single {
    margin-left: 217px;
}

.mzz-jip-window form.mzz-form div.input span.field input[type=text],
.mzz-jip-window form.mzz-form div.input span.field input[type=file],
.mzz-jip-window form.mzz-form div.input span.field textarea
{
    width: 100%;
}

.mzz-jip-window form.mzz-form div.input span.single label {
    display: inline;
    float: none;
}

.mzz-jip-window form.mzz-form div.input span.field span {
    display: block;
    color: #999;
    font-size: 90%;
}

.mzz-jip-window form.mzz-form div.input span.message {
    padding: 2px;
    display: block;
    float: left;
    margin-left: 20px
}

.mzz-jip-window form.mzz-form div.buttons {
    clear: left;
    margin-left: 217px;
}