.mzz-jip-topLeft,    .mzz-jip-topRight,
.mzz-jip-bottomLeft, .mzz-jip-bottomRight {
    background: transparent url('../../images/jip/shadows-corners.png') no-repeat top left scroll;
    position: absolute;
}

.mzz-jip-top, .mzz-jip-bottom {
    background: transparent url('../../images/jip/shadows-x.png') repeat-x top left scroll;
    position: absolute;
}

.mzz-jip-left, .mzz-jip-right {
    background: transparent url('../../images/jip/shadows-y.png') repeat-y top left scroll;
    position: absolute;
}

/* @todo: clean-up this shit */
div.jipSuccess {
    background-color: #EEF8E7;
    padding: 2px;
    text-align: center;
    width: 160px;
    border: 1px solid #C9E9B1;
    color: green;
    font-weight: bold;
}

.jipLoadJs {
    font-size: 80%;
    color: #555;
}

div#jipLoad {
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    line-height: 150%;
}

div#jipLoad a {
    font-size: 90%;
}

div#jipLoad img {
    margin-bottom: 10px;
}

div.confirm {
    width:90%;
    font-size: 110%;
    text-align: center;
    line-height: 150%;
    margin: 5px 0;
    margin-bottom: 20px;
}

div.confirmImg {
    width: 20%;
    float: left;
}

div.confirmMsg {
    width: 80%;
    float: right;
    padding-top: 5px;
}

div.confirm span {
    margin-left: 40px;
}

div.confirm img {
    float: right;
}

.jipAjaxLoading {
    padding: 5px;
    border: 1px solid #F1DC92;
    background-color: #FFF9D5;
    color: #004000;
    width: 130px;
    font-size: 90%;
}

.jipAjaxLoadingError {
    padding: 5px;
    border: 1px solid #F29191;
    background-color: #FFD5D5;
    color: #800000;
    width: 130px;
    font-size: 90%;
}

/**
 * Style for content-locker
 */
.mzz-content-locker {
    background: #000 url('../images/jip/locker.gif');
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 901;
    font-size:100%;
    text-align: center;
    width: 100%;
}

/**
 * Style for mzz-window holder (not only jipWindow) @see window.js
 */
.mzz-window-holder {
    display: none;
}

img.mzz-window-button {
    cursor: pointer;
}

/**
 * Jip-window style reset
 */
.mzz-ie-visibility { /* pseudo-class for ie 'hidden' selects */
    visibility: hidden;
}



form.mzz-jip-form ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 5px 0;
    padding: 0;
    display: block;
}

form.mzz-jip-form li  {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin-bottom: 1px;
    overflow:auto;
}

form.mzz-jip-form label {
    padding: 0 10px 0 0;
    width: 15%;
    clear: left;
    float: left;
    display: block;
    text-align: right;
    color: #575757;
    font-weight: bold;
    line-height: 2.5em;
}

form.mzz-jip-form span.input {
    float: left;
    display: block;
    width: 55%;
    line-height: 2.5em;
}

form.mzz-jip-form span.error {
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 0.75em;
    width: 20%;
}

form.mzz-jip-form span.buttons {
    margin-left: 15%;
    padding-left: 10px;
}

form.mzz-jip-form li.required {
    border: 1px solid #f9b973;
    background-color: #fcfce0;
}

form.mzz-jip-form li.error {
    border: 1px solid #c80000;
    background-color: #f6cece;
}

.mzz-jip-window table.systemTable td {
    border-bottom: 1px #D4D4D4 dashed;
    line-height: 1.2em;
}

.mzz-jip-window table.systemTable td span.mzz-icon {
    margin: 2px 2px -2px 0;

}

.mzz-jip-window table.systemTable tr:hover {
    background-color: #ffffff;
}

.mzz-jip-window form.mzz-form div.input {
    margin: 2px 0px;
    clear: left;
    overflow: hidden;
    border: 1px solid transparent;
    line-height: 19px;
}

.mzz-jip-window form.mzz-form div.input label {
    padding: 2px 15px 2px 2px;
    width: 200px;
    display: block;
    float: left;
    text-align: right;
    line-height: 15px;
}

.mzz-jip-window form.mzz-form div.input span.field {
    width: 400px;
    display: block;
    float: left;
}

.mzz-jip-window form.mzz-form div.input span.empty {

}

.mzz-jip-window form.mzz-form div.input span.single {
    margin-left: 217px;
}

.mzz-jip-window form.mzz-form div.input span.field input[type=text],
.mzz-jip-window form.mzz-form div.input span.field input[type=file],
.mzz-jip-window form.mzz-form div.input span.field textarea
{
    width: 100%;
}

.mzz-jip-window form.mzz-form div.input span.single label {
    display: inline;
    float: none;
}

.mzz-jip-window form.mzz-form div.input span.field span {
    display: block;
    color: #999;
    font-size: 90%;
}

.mzz-jip-window form.mzz-form div.input span.message {
    padding: 2px;
    display: block;
    float: left;
    margin-left: 20px
}

.mzz-jip-window form.mzz-form div.buttons {
    clear: left;
    margin-left: 217px;
}