img.jip {
    cursor: pointer;
}

.jip-button {
    background: transparent url('../../images/jip/common.png') no-repeat 0px -68px scroll;
    width: 18px;
    height: 10px;
}

.jip-button.active {
    background-position: 0px -80px;
}

div.mzz-jip-menu {
    background: transparent url('../../images/jip/menu-bg.png') repeat top left scroll;
    display: none;
    left: 658px;
    margin-left: 1px;
    margin-top: -20px;
    position: absolute;
    top: 163px;
    width: auto;
    z-index: 9999;
}

div.mzz-jip-menu .mzz-jip-topLeft,    div.mzz-jip-menu .mzz-jip-topRight,
div.mzz-jip-menu .mzz-jip-bottomLeft, div.mzz-jip-menu .mzz-jip-bottomRight {
    width: 30px;
}

div.mzz-jip-menu .mzz-jip-topLeft, div.mzz-jip-menu .mzz-jip-topRight {
    height: 27px;
    top: -16px;
}

div.mzz-jip-menu .mzz-jip-topLeft {
    background-position: -10px 1px;
    left: -20px;
}

div.mzz-jip-menu .mzz-jip-topRight {
    background-position: 0px -49px;
    right: -20px;
}

div.mzz-jip-menu .mzz-jip-bottomLeft, div.mzz-jip-menu .mzz-jip-bottomRight {
    height: 35px;
    bottom: -28px;
}

div.mzz-jip-menu .mzz-jip-bottomLeft {
    background-position: -10px -21px;
    left: -20px;
}

div.mzz-jip-menu .mzz-jip-bottomRight {
    background-position: 0px -71px;
    right: -20px;
}

div.mzz-jip-menu .mzz-jip-top, div.mzz-jip-menu .mzz-jip-bottom {
    left: 10px;
    right: 10px;
}

div.mzz-jip-menu .mzz-jip-top {
    height: 20px;
    top: -20px;
}

div.mzz-jip-menu .mzz-jip-bottom {
    background-position: 0px -26px;
    height: 25px;
    bottom: -21px;
}

div.mzz-jip-menu .mzz-jip-left, div.mzz-jip-menu .mzz-jip-right {
    bottom:7px;
    top:11px;
    width:20px;
}

div.mzz-jip-menu .mzz-jip-left {
    left: -20px;
}

div.mzz-jip-menu .mzz-jip-right {
    background-position: -30px 0px;
    right: -20px;
}

div.mzz-jip-menu ul, div.mzz-jip-menu li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div.mzz-jip-menu li {
    color: #000000;
    margin-bottom: 1px;
    margin-top: 2px;
    height: 19px;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 0 0 0;
}

div.mzz-jip-menu li:hover, div.mzz-jip-menu li.active {
    background: transparent url('../../images/jip/common.png') repeat-x 0 0 scroll;
    color: #ffffff;
}

div.mzz-jip-menu a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    display:block;
    padding: 0 10px;
}

div.mzz-jip-menu a img.mzz-icon {
    vertical-align: top;
    margin-right: 10px;
}

div.mzz-jip-menu-lang a img.mzz-icon {
    vertical-align: middle;
    margin-right: 10px;
}