div.mzz-jip-window * {
    font-family: Arial,sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
}

div.mzz-jip-window td {
    padding: 1px;
}

.mzz-jip-window {
    position: fixed;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    z-index: 902;
    display: none;
}

.mzz-jip-window label, .mzz-jip-window .label {
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.mzz-jip-window input[type=text] {
    height: 15px;
}
.mzz-jip-window a {
    color: #1C4FAD;
    text-decoration:none;
}

.mzz-jip-window a:hover, .mzz-jip-window a:active {
    text-decoration:underline;
}

.mzz-jip-window a.mzz-jip-close {
    display: block;
    position: absolute;
    top: 8px;
    right: 10px;
    font-weight: bold;
    color: #777777;
    text-decoration: none;
    text-shadow:0 1px 0 rgba(250, 250, 250, 0.5);
}

.mzz-jip-window a.mzz-jip-close:hover {
    color: #2C4865;
    text-decoration: none;
}

.mzz-jip-window .caption {
    color: #888888;
    font-size: 11px;
}

div.mzz-jip-window img.mzz-jip-gradient {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

div.mzz-jip-window .mzz-jip-topLeft,    div.mzz-jip-window .mzz-jip-topRight,
div.mzz-jip-window .mzz-jip-bottomLeft, div.mzz-jip-window .mzz-jip-bottomRight {
    width: 40px;
    height: 40px;
}

div.mzz-jip-window .mzz-jip-topLeft, div.mzz-jip-window .mzz-jip-topRight {
    top: -20px;
}

div.mzz-jip-window .mzz-jip-topLeft {
    background-position: 0px -100px;
    left: -20px;
}

div.mzz-jip-window .mzz-jip-topRight {
    background-position: 0px -180px;
    right: -20px;
}

div.mzz-jip-window .mzz-jip-bottomLeft, div.mzz-jip-window .mzz-jip-bottomRight {
    bottom: -20px;
}

div.mzz-jip-window .mzz-jip-bottomLeft {
    background-position: -0px -140px;
    left: -20px;
}

div.mzz-jip-window .mzz-jip-bottomRight {
    background-position: 0px -220px;
    right: -20px;
}

div.mzz-jip-window .mzz-jip-top, div.mzz-jip-window .mzz-jip-bottom {
    height: 20px;
    left: 20px;
    right: 20px;
}

div.mzz-jip-window .mzz-jip-top {
    background-position: 0px -55px;
    top: -20px;
}

div.mzz-jip-window .mzz-jip-bottom {
    background-position: 0px -85px;
    bottom: -20px;
}

div.mzz-jip-window .mzz-jip-left, div.mzz-jip-window .mzz-jip-right {
    bottom: 20px;
    top: 20px;
    width: 20px;
}

div.mzz-jip-window .mzz-jip-left {
    background-position: -50px 0px;
    left: -20px;
}

div.mzz-jip-window .mzz-jip-right {
    background-position: -80px 0px;
    right: -20px;
}

.mzz-jip-wrapper {
    background-color:#FFFFFF;
    border:medium none;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    position:relative;
}

.mzz-jip-body {
    position: relative;
}

.mzz-jip-title {
    background: transparent url('../../images/jip/common.png') repeat-x 0px -32px scroll;
    height: 34px;
}

.mzz-jip-title span {
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    color: #2C4865;
    margin-left: 20px;
    text-shadow: 0 1px 0 rgba(250, 250, 250, 0.5);
}

.mzz-jip-contentwrap {
    padding: 16px 0px 14px;
}

.mzz-jip-content {
    padding: 0px 20px;
    min-height: 70px;
    font-size: 13px;
    color: #000000;
    overflow: auto;
}