div.commentsTitle {
    padding: 6px;
    margin-top: 5px;
    font-size: 120%;
    font-weight: bold;
    border-bottom: 2px solid #A8A8A8;
}

div.commentAuthor {
    font-size: 85%;
    margin: 8px 10px 0;
    font-weight: bold;
}

span.commentDate {
    color: #515151;
    font-weight: normal;
}

div.commentText {
    border-bottom: 1px solid #EFEFEF;
    font-size: 90%;
   /* margin-top: 1px;
    margin-left: 11px;*/
    padding-bottom: 10px;
    margin: 1px 11px 0;
}

div.emptyComments {
    color: #999;
    border-top: 1px solid #EFEFEF;
    padding: 2px;
    margin-top: 20px;
}

.addCommentTitle {
  font-size: 120%;
  font-weight: normal;
  margin: 4px;
}

div.addCommentForm {
  background-color: #F5F9F0;
  border-top: 2px solid #CDE1AA;
  padding: 10px;
  margin: 5px 0;
  line-height: 160%;
}

div.addCommentForm span {
  font-size: 85%;
  color: #4B4B4B;
}