div.forumTopPanel {
  border: 1px solid #D2DBE5;
  font-size: 85%;
  margin-bottom: 10px;
  width: 100%;
}

div.forumThreadPanel {
  border-bottom: 0;
  font-size: 100%;
  width: 100%;
  color: #999;
}

div.forumContent {
  width: 99%;
}

td.authorInfo a.authorName {
  text-decoration: none;
  font-weight: bold;
}

div.forumTopPanel div.left, div.forumThreadPanel div.left {
  float: left;
  padding: 6px;
}

div.forumTopPanel div.right, div.forumThreadPanel div.right {
  float: right;
  padding: 6px;
}

table.forums {
  border: 0;
  background-color: #D2DCE6;
}

table.forums td, table.thread td {
  background-color: #fff;
}

table.thread {
  border: 0;
  width: 100%;
}


table.post {
  border: 1px solid #D2DCE6;
  width: 100%;
  margin-bottom: 5px;
}

td.forumCategory, td.threadHeader {
  padding: 5px;
  background: #8298B1 url('../images/forum/header_bg.png');
  font-size: 105%;
  color: #44545B;
  padding-left: 10px;
  font-weight: bold;
}

td.forumCategory {
  width: 54%;
}

td.forumCategory span, td.threadHeader span {
  float: right;
}

td.forumCategory a, td.threadHeader a {
  color: #44545B;
  font-weight: bold;
}

td.threadHeader span {
  font-size: 80%;
  font-weight: bold;
}

tr.forumFields td {
  font-size: 85%;
  padding: 4px 10px;
  background: #D5DDE3 url('../images/forum/subheader_bg.png');
}

td.forumName {
  width: 56%;
  text-align: left;
  padding-left: 15px;
}
td.threadName {
  width: 61%;
  text-align: left;
  padding-left: 15px;
}

td.forumCounter {
  width: 7%;
  text-align: center;
}

td.forumLastPost, td.forumLastPostTitle {
  width: 30%;
  text-align: center;
}

td.threadLastPost, td.threadLastPostTitle {
  width: 25%;
  text-align: center;
}


td.forumLastPost, td.threadLastPost {
  font-size: 85%;
  text-align: left;
}

td.newThreads {
  background-image: url('../images/forum/newthreads.gif');
}

td.noNewThreads {
  background-image: url('../images/forum/nonewthreads.gif');
}
td.newPosts {
  background-image: url('../images/forum/new.gif');
}

td.noNewPosts {
  background-image: url('../images/forum/nonew.gif');
}

td.stickThread {
  background-image: url('../images/forum/stick.gif');
}

td.hotStatus {
  padding-left: 40px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 10px center;
}

p.forumDescription {
  font-size: 85%;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

td.forumOddColumn {
  background-color: #FAFBFB !important;
}

td.forumEvenColumn {
  background-color: #F2F4F4 !important;
}

div.postDate {
  float: right;
  padding-right: 10px;
  text-align: right;
}

td.forumLastPost img, td.threadLastPost img {
  float: right;
}


div.postDate span {
  color: #7A7A7A;
}

span.threadPager {
  font-size: 85%;
}

div.postIcon {
  margin-top: 1px;
  margin-right: 5px;
  float: left;
}
div.postLink {
  margin-top: 1px;
  margin-right: 5px;
  float: right;
}

td.authorInfo {
  width: 160px;
  border: 1px solid #E6E6E6;
  border-top: 0;
  border-bottom: 0;
  padding: 10px;
  background-color: #F9FAFB !important;
}

td.postInfo {
  padding: 2px 5px 0;
  font-size: 85%;
  border-right: 1px solid #E6E6E6;
  height: 26px;
}

td.postContent {
  border-top: 1px solid #EEE;
  border-right: 1px solid #E6E6E6;
  padding: 10px;
}

td.postActionsLeft {
  border: 1px solid #E6E6E6;
  border-top: 0;
}

td.postActions {
  border-bottom: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
}

td.postActions div {
  text-align: right;
}

div.forumPostSign {
  color: #CFCFCF;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  padding-top: 5px;
}

div.postEditDate {
  font-size: 85%;
  color: #555;
  font-style: italic;
  margin-top: 10px;
}

table.quickPost {
  background-color: #fff;
  border: 1px solid #D2DCE6;
  width: 100%;
}

table.quickPost td {
  vertical-align: top;
}

table.quickPost td.quickReplyForm {
  width: 160px;
}

.quote, .code {
  border: 1px solid #DCE5EF;
  background-color: #F5F7F8;
  padding: 8px;
  margin: 8px;
  margin-bottom: -5px;
  line-height: 130%;
  overflow: auto;
  color: #000;
}

.code {
  padding: 5px;
  margin: 5px;
  font-size: 120%;
}

.quoteAuthor {
  font-size: 85%;
  font-weight: bold;
}

table.post td.leftSide {
  width: 160px;
  border-right: 1px solid #D2DBE5;
  border-top: 1px solid #D2DBE5;
}

table.post td.rightSide {
  border-top: 1px solid #D2DBE5;
}

img.forumAvatar {
  border: 1px solid #E3E7EA;
}

span.forumButton {
  margin-right: 10px;
}

span.forumButton a {
  font-size: 90%;
  color: #475C74;
}

span.forumButton a:hover {
  color: #030303;
}