.albums, .albumPhotos {
    width: 110px;
    height: 100px;
    text-align: left;
    float: left;
    padding-right: 6px;
}

.albums h4 {
    width: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 95%;
    font-weight: bold;
}

h2.photoName {
    font-size: 150%;
    font-weight: normal;
    margin: 5px 0;
    padding: 5px 0;

}

.albums p, .albumPhotos p {
    margin-top: 2px;
    font-size: 85%;
    color: #888;
    display:block;
}

.albumCase {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 92px;
    height: 72px;
    padding: 5px 0 0 6px;
    background: url("../images/gallery/album_bg.gif") no-repeat;
}

.albumCase .albumThumb {
    border: 1px solid #000;
}

p.photoCount {
    margin: -17px 0 20px 0;
    font-size: 85%;
    color: #666;
    font-family: tahoma, verdana;
}

.albumPhotoCase {
    /*padding: 5px;
    border: 1px solid #DFDFDF;
    text-align: center;*/
}

td.photoMainView {
  width: 500px;
}

div.photoDescription {
  margin: 15px;
}

div.photoAlbumName {
  padding: 6px;
  background-color: #F0F2F4;
}

div.albumPhotoThumbs {
  background-color: #F0F2F4;
  padding: 2px;
  float: right;
  width: 266px;
  overflow: hidden;
  height: 90px;
}

#albumPhotoPreviews {
  margin-left: 0;
}

.albumPreviewThumbContainer {
    width: 84px;
    background-color: white;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #E6E8EA;
}

.albumPreviewThumbContainer img {
    vertical-align: middle;
}

#albumPhotoPreviews img {
  /*border: 3px solid transparent;*/
  padding: 3px;
}

#albumPhotoPreviews img.currentPhoto {
  border: 3px solid #D55539;
  padding: 0;
}

img.previewScroll {
  margin: 3px;
}

div.photoAddonDescription {
  margin: 30px 15px;
  color: #777;
  font-size: 8pt;
}

div.photoAddonDescription ul {
  list-style-type: circle;
  margin: 0;
  padding-left: 20px;
}

#tagDoneButton {
  background-color: #E8FFE8;
  border: 1px solid #009B00;
  padding: 4px;
}