img.jip {
  cursor: pointer;
}

div.jipClose {
  float: right;
  margin-top: 6px;
  margin-right: 4px;
  height: 13px;
}

div.jipSuccess {
  background-color: #EEF8E7;
  padding: 2px;
  text-align: center;
  width: 160px;
  border: 1px solid #C9E9B1;
  color: green;
  font-weight: bold;
}

.jipWindow {
    position: absolute;
    display: none;
    border: 2px solid #999;
    z-index: 902;
    font-size:100%;
    padding: 3px;
    width: 70%;
    background-color: #FFFFFF;
    overflow: auto;
    /*min-width: 500px;*/
    left: 15%;
    top: 100px;
}

.jipTitle {
    padding: 4px;
    padding-left: 7px;
    font-weight: bold;
    border-bottom: 1px solid #EAE197;
    border-top: 1px solid #EAE197;
    /*background: url('../images/jip/title_bg.png') repeat-x #fff;*/
    background-color: #FFFFE1;
}

.jipLoadJs {
    font-size: 80%; 
    color: #555;
}

#jipLoad {
    font-family: tahoma, verdana, arial;
    font-weight: bold;
    padding-left: 20px;
}

.jipMove {
    /*background-position: left center;*/
    width: 3px;
    height: 13px;
    /*background-image: url('../images/jip/move.gif');*/
    float: left;
    /*background-repeat: no-repeat;*/
    cursor: move;
    margin-right: 8px;
    margin-top: 1px;
}

.jipMenu {
    font-weight: normal;
    font-size: 12px !important;
    color: #000 !important;
    display: none;
    background-color: #F9F9F9;
    border: 2px solid #B6B6B6;
    width: 180px;
    position: absolute;
    z-index: 50000;
    line-height: 100%;
}

.jipMenuClose {
    font-size: 80%;
    font-weight: normal;
    text-align: right;
    margin-right: 3px;
    line-height: 100%;
}


table.jipItems {
    cursor: pointer;
    border: 1px solid #ffffff;
    width: 100%;
}

td.jipItemIcon {
    width: 20px;
    border-right: 1px solid #D4D4D4;
    background-color: #ECECEC;
    text-align:center;
}

td.jipItemText {
    border-top: 1px solid #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    border-left: 0;
    border-right: 1px solid #F9F9F9;
    padding-left: 8px;
}

td.jipItemTextActive {
    border-top: 1px solid #D8D7C5;
    border-bottom: 1px solid #D8D7C5;
    border-left: 0;
    border-right: 1px solid #D8D7C5;
    padding-left: 8px;
    background-color: #EBEAE2;
}

table.jip_menu {
    font-family: verdana, arial, tahoma;
    font-size: 90%;
    background-color: #E4E4E4;
    padding: 1px;
}
td.jip_menu {
    background-color: #fff;
    font-family: verdana, arial, tahoma;
    font-size: 100%;
    padding: 3px;
}

#lockContent {
    position: absolute;
    display: none;
    z-index: 901;
    font-size:100%;
   /* padding: 4px;*/
    text-align: center;

    background-color: #000;
    width: 100%;
    /*height: 100%;*/
    /*top: -8px;*/
    top: 0;
    left: 0;

    right: 0;
    /*min-height: 800px;*/
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}