img.jip {
  cursor: pointer;
}

div.jipClose {
  float: right;
  margin-top: 6px;
  margin-right: 4px;
  height: 13px;
}

div.jipSuccess {
  background-color: #EEF8E7;
  padding: 2px;
  text-align: center;
  width: 160px;
  border: 1px solid #C9E9B1;
  color: green;
  font-weight: bold;
}

.jipWindow {
    font-family: tahoma, verdana, arial !important;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #000 !important;
    position: absolute;
    display: none;
    border: 2px solid #999;
    z-index: 902;
    font-size:100%;
    padding: 3px;
    width: 80%;
    background-color: #FFFFFF;
    overflow: auto;
    /*min-width: 500px;*/
    left: 15%;
    top: 100px;
}

.jipWindow a {
    color:#0055CC !important;
}

.jipWindow a:active {
    color:#FF0000 !important;
}

.jipTitle {
    font-family: tahoma, verdana, arial !important;
    color: #000 !important;
    text-align: left;
    padding: 4px;
    padding-left: 7px;
    font-weight: bold;
    border-bottom: 1px solid #EAE197;
    border-top: 1px solid #EAE197;
    /*background: url('../images/jip/title_bg.png') repeat-x #fff;*/
    background-color: #FFFFE1;
}

.jipLoadJs {
    font-size: 80%;
    color: #555;
}

#jipLoad {
    font-family: tahoma, verdana, arial;
    font-weight: bold;
    padding-left: 20px;
}

.jipMove {
    /*background-position: left center;*/
    width: 3px;
    height: 13px;
    /*background-image: url('../images/jip/move.gif');*/
    float: left;
    /*background-repeat: no-repeat;*/
    cursor: move;
    margin-right: 8px;
    margin-top: 1px;
}

.jipMenu {
    font-family: tahoma, verdana, arial !important;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #000 !important;
    display: none;
    background-color: #F9F9F9 !important;
    border: 2px solid #B6B6B6 !important;
    width: 180px !important;
    position: absolute !important;
    line-height: 100% !important;
    text-align: left !important;
    margin: 0;
    font-variant: normal !important;
    text-transform: none !important;
    text-indent: 0 !important;
    letter-spacing: normal !important;
    white-space: normal !important;
    word-spacing: normal !important;
    font-style: normal !important;
    z-index: 800;
}

.jipMenu img {
    border: 0 !important;
}

.jipMenuClose {
    font-size: 80%;
    font-weight: normal;
    text-align: right;
    margin-right: 3px;
    line-height: 100%;
}

.jipMenu td {
    border-collapse: separate !important;
    border-width: medium !important;
    border-spacing: 0 !important;
}

table.jipItems {
    cursor: pointer !important;
    border: 1px solid #ffffff !important;
    width: 100%;
}

td.jipItemIcon {
    width: 20px;
    border-right: 1px solid #D4D4D4  !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    background-image: url(../images/jip_bg.png) !important;
    background-position: top left !important;
    background-color: #ECECEC !important;
    text-align: center !important;
}

td.jipItemText {
    border-top: 1px solid #F9F9F9 !important;
    border-bottom: 1px solid #F9F9F9 !important;
    border-left: 0 !important;
    border-right: 1px solid #F9F9F9 !important;
    padding-left: 8px;
    background-color: #F9F9F9 !important;
    font-family: tahoma, verdana, arial !important;
    color: black !important;
}

td.jipItemTextActive {
    border-top: 1px solid #D4D4D4 !important;
    border-bottom: 1px solid #D4D4D4 !important;
    border-left: 0 !important;
    border-right: 1px solid #D4D4D4 !important;
    padding-left: 8px;
    background-color: #FFF !important;
    font-family: tahoma, verdana, arial !important;
    color: black !important;
}

#lockContent {
    position: absolute;
    display: none;
    z-index: 901;
    font-size:100%;
   /* padding: 4px;*/
    text-align: center;

    background-color: #000;
    width: 100%;
    /*height: 100%;*/
    /*top: -8px;*/
    top: 0;
    left: 0;

    right: 0;
    /*min-height: 800px;*/
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

div.confirm {
  width:90%;
  font-size: 110%;
  text-align: center;
  line-height: 150%;
  margin: 5px 0;
  margin-bottom: 20px;
}

div.confirmImg {
  width: 20%;
  float: left;
}

div.confirmMsg {
  width: 80%;
  float: right;
  padding-top: 5px;
}

div.confirm span {
  margin-left: 40px;
}

div.confirm img {
  float: right;
}