html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000000;
    font-family: tahoma, verdana, arial;
    font-size: 90%;
}

* html #wrapper {
    height: 100%;
}

* html #nonFooter {
    padding: 0;
    height: 100%;
}

a {
	color: #003379;
}

a:hover {
	color: #B30000;
}

img {
    border: 0;
}

#siteTitle {
	float: left;
	top: 10px;
	left: 20px;
	display: block;
	position: relative;
	color: #777;
	font-size: 85%;
}

#navMenu a {
	color: #FFFFFF;
	text-decoration: none;
}

#navMenu a:hover {
	text-decoration: underline;
	color: #E3ECEE;
}

#navMenu ul,#navMenu li {
	margin: 0;
	padding: 0;
}

#navMenu ul {
	text-align: center;
	margin: auto auto;
	/*width: 470px;*/
	float: right;
	padding-left: 14px;
	margin-top: 9px;
        margin-right: 20px;
}

#navMenu li {
	display: block;
	float: left;
	height: 27px;
	margin: 0 15px;
	padding: 0;
	line-height: 24px;
}

#navMenu li.activeNavElement {
	background: url("../images/nav-highlight-bg.gif") no-repeat bottom left;
	padding: 0px 0 0px 14px;
	height: 31px;
	margin: 0;
        margin-top: 0px;
}

#navMenu li.activeNavElement a {
	background: url("../images/nav-highlight-bg2.gif") no-repeat bottom right;
	display: block;
	float: left;
	height: 31px;
	line-height: 27px;
	color: #fff;
	padding: 0px 14px 0px 0;
        padding-top: 0px;
	margin: 0;
}

#footer {
	position: relative;
	margin: -46px auto 0 auto !important;
	width: 100%;
	height: 35px;
	border-top: 0;
	padding: 0;
	/*border-top: 1px solid #E3E3DB;
  background-color: #F3F3EF;*/
	/*border-top: 1px solid #D2D3C7;
	background-color: #F0F1ED;*/
        background-color: #F5F5F3;
        border-top: 1px solid #D7D7D7;
	font-size: 85%;
	color: #535353;
	padding-top: 10px;
	text-align: right;
}

#footer span {
	padding-right: 7px;
	display: block;
}

#hcontainer {
	width: 100%;
	height: 96px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
        background-image: url("../images/header_background_lines.gif");
        background-repeat: no-repeat;
}

#hbackground {
	background: #333D44 url("../images/header_background.png");
}

#hcontainer img {
	margin-left: 39px;
	margin-top: 27px;
	border: 0;
}

.headerBorderLine {
    background-color: #EFEFEA;
    border-bottom: 1px solid #E3E2DA;
    height: 2px;
    margin-top: 6px;
}

#menucontainer {
	width: 100%;
	height: 34px;
	margin: 0 auto;
	position: relative;
	z-index: 3;
        margin-top: -40px;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	text-align: left;
	min-height: 100%;
	background: white;
}


#hcontainer div {
	float: left;
}

#content {
	min-height: 100%;
	line-height: 140%;
	margin: 15px;
	margin-bottom: 80px;
}

#nonFooter {
	position: relative;
	min-height: 100%;
	padding-bottom: 34px;
}

#loginForm {
    color: #777;
    font-size: 95%;
}


/*

#col1, #col3, #col2 {
 border: 1px solid red;
}
*/
#col2 {
	margin-left: 185px;
}

#col1 {
	width: 160px;
	float: left;
}

#col3 {
	width: 175px;
	float: right;
}

div.sideBlock {
    /* если нужно будет явно выделить блоки
    background-color: #F6F6F3;
    padding: 5px;*/
	width: 100%;
	line-height: 160%;
	margin-bottom: 20px;
}

div.sideBlock p.sideBlockTitle {
	border-bottom: 1px solid #D6D6D6;
	padding: 0 0 4px 4px;
	font-size: 120%;
	margin: 5px 0;
	font-weight: bold;
}

div.sideBlock div.sideBlockContent {
	font-size: 90%;
	padding-left: 10px;
}

#container {
	width: 100%;
	float: left;
	margin-right: -190px;
}

#leftMainCol {
	margin-right: 190px;
}

ul.sideMenu {
	margin: 0px;
	padding: 10px 0px;
	margin-bottom: 15px;
}

ul.sideMenu ul {
	margin-left: 0px;
	padding-left: 10px;
}

ul.sideMenu li {
	list-style: none;
	display: block;
	line-height: 160%;
	margin-left: 0px;
	padding-left: 15px;
	/*background: #fff url("arrow.gif") no-repeat 3px 8px;*/
}

ul.sideMenu li ul {
	margin-left: -15px;
}

ul.sideMenu li ul li {
	background: #fff url("../images/submenu_arrow.gif") no-repeat 6px 9px;
}

ul.sideMenu li a {
	/*color: #003379;*/
        /*color: #033F63;*/
        color: #1A2D53;
	text-decoration: none;
}

ul.sideMenu li a:hover {
	text-decoration: underline;
	color: #B30000;
}

div.newsItem p.newsItemTitle {
	margin-bottom: 0px;
	margin-top: 10px;
}

div.newsItem p.newsItemTitle span {
	color: #999;
	font-size: 80%;
}

.contentBlockTitle {
	font-size: 140%;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 0 0 5px 0;
	background: #fff url("../images/separator_bg.gif") left bottom repeat-x;
}

.clear {
	clear: both;
	height: 1%;
}