html, body {
  margin:0;
  padding:0;
  width:100%;
  height: 100%;
  background-color: #fff;
  color: #000000;
  font-family: tahoma, verdana, arial;
  font-size: 90%;
}

img {
  border: 0;
}

a {
 color: #0055CC;
}
a:visited {
 /* в релизе сделать такой цвет: color: #990099;*/
 color: #0055CC;
}
a:active {
 color: #FF0000;
}

#content {
  min-height: 100%;
  line-height: 140%;
  margin: 15px;
  margin-bottom: 80px;
}

#footer {
  position: relative;
  margin: -70px auto 0 auto !important;
  width: 100%;
  height: 65px;
  border-top: 0;
  padding: 0;
}

#img_logotip {
 margin-left: 35px;
 margin-top: 17px;
 border: 0;
}

#hcontainer {
 width: 100%;
 height: 65px;
 background-color: #ECF0F0;
 margin: 0 auto;
 position: relative;
 border-bottom: 5px solid #DDE3E3;
}

#fcontainer {
 width: 100%;
 margin: 0 auto;
 height: auto;
 position: relative;
}

#wrapper {
 margin: 0 auto;
 width: 100%;
 text-align: left;
 min-height: 100%;
 background: white;
}

* html #wrapper {
 height: 100%;
}

#nonFooter
{
 position: relative;
 min-height: 100%;
 padding-bottom: 34px;
}

* html #nonFooter
{
 padding: 0;
 height: 100%;
}

#logotip {
 float: left;
}

#menu {
 width: auto;
 height: 22px;
 position: absolute;
 left: 240px;
 top: 41px;
 text-align: center;
 font-family: tahoma, verdana, arial;
 border-right: 1px solid #DDE3E3;
 border-top: 1px solid #DDE3E3;
 border-left: 1px solid #DDE3E3;
}

.menu_element {
 /*background-image: url('/templates/images/menu_bg.png');*/
 background-color: #FFF;
 height: 100%;

 float: left;
 padding: 0 15px;

 padding-top: 6px;

}

.menu_element_current {
/* background-image: url('/templates/images/menu_bg.png');*/
 height: 100%;
 padding-top: 6px;
 float: left;
 width: 120px;
 background-color: #FFF;
}

#menu a:visited  {
color: #0055CC;
}
a:hover {
 color: #FF0000;
}


#login {
 float: right;
 margin-top: 40px;
 margin-right: 20px;

}

#login .info {
    float: left;
    padding-right: 10px;
}

#loginForm {
 float: right;
 margin-top: 10px;
 margin-right: 15px;
 font-size: 85%;
}

#footer_image {
 float: right;
 height: 63px;
}

#footer_text {
 float: right;
 height: 42px;
 border-bottom: 3px solid #D4D4D4;
 border-top: 4px solid #D4D4D4;
 font-size: 85%;
 color: #535353;
 padding:7px 5px 7px 0;
}

#newsFolders {
 line-height: 170%;
 float: left;
 width: 170px;
 margin-top: 30px;
 margin-left: 8px;
 padding: 8px;
 background-color: #F3F5F5;
 border-right: 1px solid #E0E4E4;
 border-bottom: 1px solid #E0E4E4;
}

#newsFolders .title {
 font-size: 120%;
}


.news_title {
 font-size: 100%;
 line-height: 200%;
 font-weight: bold;
}

.news_info {
 color: #7C7C7C;
 font-size: 80%;
 line-height: 100%;
 margin-bottom: 8px;
}

.news_text {
 font-size: 100%;
 line-height: 140%;
 margin-bottom: 20px;

}

.newsList {
 margin-left: 220px;
}

.pages {
 font-size: 100%;
 margin-top: 50px;
 /*background-color: #F3F5F5;
 border-top: 1px solid #E0E4E4;
 border-bottom: 1px solid #E0E4E4;*/
}
.pageNumber {
 padding: 2px;
 border: 1px solid #E0E4E4;
 margin-left: 2px;
}


table.list td {
    border-bottom: 1px solid #F0F0F0;
}

#submenu {
  padding: 3px;
  margin: 5px;
}
